@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

:root {
    --font: "Montserrat";
    --text: #F8F8FF;
    --primarycolor: #191919;
    --background: #070707;
    --nav: #545454;
    --yellow: rgb(252, 255, 160);
    --h1: bold 64px/52px var(--font)
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--primarycolor);
    color: var(--text);
    font-family: var(--font);
    margin: 0;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    background: var(--nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navi {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
    text-transform: capitalize;
}

.navi:hover {
    color: var(--yellow);
    text-decoration: solid;
}

.interface {
    display: flex;
    gap: 40px;
    align-items: center;
    max-width: 1280px;
    margin: 40px;
    flex-wrap: wrap;
}

div {
    flex: 1;
}

#btn-gallery {
    background-color:var(--yellow);
    text-decoration: none;
    color: #000000;
    padding: 10px 25px;
    border-radius: 4px;
}

img{
    width: 100%;
}